﻿@model IEnumerable<Model.EF.Insurance1>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var err = (Model.EF.Insurance1)ViewBag.error;
}
<div class="row">
    <div class="col-lg-12">
        <div class="table-agile-info">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Danh sách bảo hiểm
                </div>
                <div>
                    <table class="table" ui-jq="footable" ui-options='{
        "paging": {
          "enabled": true
        },
        "filtering": {
          "enabled": true
        },
        "sorting": {
          "enabled": true
        }}'>
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Avartar</th>
                                <th>Price</th>
                                <th>MaxLimit</th>
                                <th>Type</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr id="row_@item.ID">
                                <td>@item.ID</td>
                                <td>@item.Name</td>
                                <td>@item.Avatar</td>
                                <td>@item.Price</td>
                                <td>@item.MaxLimit</td>
                                <td>@item.Type</td>
                                <td>@item.Status</td>
                                <td>
                                    @Html.ActionLink("Thêm bảo hiểm", "Create", new { id = item.ID }) |
                                    @Html.ActionLink("Thêm chính sách", "../PolicyInsurance/Create", new { id = item.ID }) |
                                    <a href="/Admin/Insurance/Edit/@item.ID">Sửa</a> |
                                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                                    @Ajax.ActionLink("Xóa", "Delete", new { @id = item.ID }, new AjaxOptions
                               {
                                   Confirm = "Bạn có muốn xóa bản ghi này không?",
                                   OnComplete = "$('#row_" + @item.ID + "').remove()",
                                   HttpMethod = "Delete"
                               })

                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
